<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="practice_suite">
    <test name="practice_test">
        <classes>
            <class name="com.automation.practice_testng.Test1"/>
            <class name="com.automation.practice_testng.Test2_Annotations"/>
            <class name="com.automation.practice_testng.Test4_dependencym"/>
            <class name="com.automation.practice_testng.Test5_Data_Providers"/>
        </classes>
    </test>
</suite>